.item {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 0.1fr 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1.75fr 0.25fr;
  width: 100%;
  height: 10vh;
  border-bottom: 0.1em solid #c1c1c1;
  border-left: 0.5em solid #f9f8f8;
  border-right: 0.5em solid #f9f8f8;
  transition: 0.5s;
}

.item:nth-child(even) {
  background-color: #e0e6eb;
  border-left: 0.5em solid #e0e6eb;
  border-right: 0.5em solid #e0e6eb;
}

.item:hover {
  border-right: 0.5em solid #ff8c6b;
  border-left: 0.5em solid #ff8c6b;
  border-bottom: 0.1em solid #ff8c6b;
  background-color: #face85;
}

.votes {
  max-height: 8.5vh;
  grid-area: 1 / 1 / 3 / 2;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.votes p:first-child {
  color: #ff8c6b;
}

.title {
  grid-area: 1 / 3 / 2 / 5;
  width: 95%;
  overflow: hidden;
}

.topic {
  grid-area: 1 / 5 / 3 / 6;
  width: 100%;
}

.imgDiv {
  max-height: 8.5vh;
  grid-area: 1 / 2 / 4 / 3;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25%;
}

.author {
  grid-area: 2 / 3 / 3 / 4;
  width: 90%;
  display: inline;
}

.count {
  display: inline;
  width: 90%;
  grid-area: 2 / 4 / 3 / 5;
}

.dateTime {
  grid-area: 2 / 5 / 3 / 6;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .topic,
  .dateTime,
  .author {
    display: none;
  }

  .title {
    grid-area: 1 / 3 / 2 / 6;
    font-size: 1em;
  }

  .count {
    grid-area: 2 / 3 / 3 / 6;
  }
}
