.container {
  background-color: #dedede;
}

.article {
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.7fr minmax(200px, auto) minmax(200px, auto) 0.3fr;
  max-height: 60vh;
  color: #0c243e;
}

.articleNav {
  background-color: #ff8c6b;
  grid-area: 1 / 1 / 2 / 5;
  width: 100%;
  text-align: left;
  border: none;
}

.articleNav a {
  color: #0c233e;
  padding: 0.4em 1em;
}

.articleNav a:hover {
  background-color: #0c233e;
  color: #ff8c6b;
}

.articleNav span {
  font-size: 1.2em;
}

.sectionHead {
  grid-area: 2 / 1 / 3 / 5;
  width: 100%;
  display: flex;
  background-color: #dedede;
  padding: 0.5em 2em;
  align-items: center;
}

.votes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.votes p:first-child {
  color: #ff8c6b;
}

.title {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 0 1em;
  flex-grow: 1;
}

.author {
  font-size: 1em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.imgDiv {
  grid-area: 3 / 1 / 4 / 5;
  overflow: hidden;
  width: 80%;
}

.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25%;
}

.body {
  grid-area: 4 / 1 / 5 / 5;
  padding: 2rem;
}

.articleFoot {
  grid-area: 5 / 1 / 6 / 5;
  background-color: #08182b;
  padding: 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.dateTime {
  color: #ff8c6b;
}

.count {
  background-color: #ff8c6b;
  border: none;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0em 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.3);
}

.count:hover {
  background-color: #0c243e;
  color: #face85;
}

.count:disabled {
  background: #d4d4d4;
  border: 0.1em solid #0c243e;
  box-shadow: none;
}

.count:disabled:hover {
  color: #0c243e;
}

.loading {
  width: 100%;
  text-align: center;
}
