.filters {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  background: #08182b;
  padding: 0.5em;
}

.filters button {
  background-color: #ff8c6b;
  border: none;
  padding: 0.5em;
  border-radius: 1em;
  box-shadow: 0em 0.1em 0.5em rgba(0, 0, 0, 0.2);
}
