.item {
  width: 100%;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
}

.votes {
  width: 3em;
  grid-area: 1/1/4/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.votes p:first-child {
  color: #f1996e;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.3em;
}

.item:nth-child(even) {
  background-color: #08182a;
}

.author {
  height: 1.5em;
  font-size: 1em;
  font-weight: 500;
  width: 15%;
  margin-left: 0;
  padding-left: 4em;
  background-color: #f1996e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background: -webkit-linear-gradient(135deg, #0c243e 14%, #ff8c6b 16%, #a86288 80%, #0c243e 90%);
}

.item:nth-child(even) .author {
  background: -webkit-linear-gradient(135deg, #08182a 14%, #ff8c6b 16%, #a86288 80%, #0c243e 90%);
}

.body {
  width: 100%;
  padding: 0.3em;
  padding-left: 1em;
  color: #e2e2e2;
}

.del {
  cursor: pointer;
}

.del:hover {
  fill: #f1996e;
}
