.article {
  border: 1px solid black;
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 3fr 1.5fr 0.5fr;
  width: 100%;
  height: 60vh;
}

.articleNav {
  background-color: #f1996e;
  grid-area: 1 / 1 / 2 / 5;
  width: 100%;
  text-align: left;
  border: none;
}

.articleNav a {
  color: #0c233e;
  padding: 0.4em 1em;
}

.articleNav a:hover {
  background-color: #0c233e;
  color: #f1996e;
}

.articleNav span {
  font-size: 1.2em;
}

.sectionHead {
  grid-area: 2 / 1 / 3 / 5;
  width: 100%;
  display: flex;
  background-color: #f9f8f8;
  padding: 1em;
  border-bottom: 2px solid grey;
  align-items: center;
}

.votes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.votes p:first-child {
  color: #ff8c6b;
}

.title {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 0 1em;
}

.author {
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.imgDiv {
  grid-area: 3 / 1 / 4 / 5;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25%;
}

.body {
  grid-area: 4 / 1 / 5 / 5;
  padding: 2rem;
}

.articleFoot {
  background-color: #face85;
  padding: 1em;
  grid-area: 5 / 1 / 6 / 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.msg {
  text-align: center;
}
