.sectionHead {
  background: #f1996e;
  background: -webkit-linear-gradient(135deg, #0c243e 2%, #a86288 17%, #ff8c6b 50%, #a86288 83%, #0c243e 98%);
  padding: 0.2em;
  text-align: center;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.list > p {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: #dedede;
}
