.sectionHead {
  background: #f1996e;
  padding: 2em;
  text-align: center;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.list > p {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
