.sectionHead {
  background-color: #f1e6d9;
  padding: 1rem;
  border-left: 0.5rem solid grey;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.list > p {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-left: 0.5rem solid grey;
}
