.mainNav {
  margin-right: 0;
}

.mainLink {
  font-size: 1.1em;
  text-decoration: none;
  padding-right: 3rem;
  margin-right: 1em;
  transition: 0.7s;
  color: #ff8c6b;
  border-bottom: 0.05em solid #ff8c6b;
}

.mainLink:hover {
  color: #face85;
  border-bottom: 0.2em solid #face85;
}
